[Desktop Entry]
Name=OpenAxiom
Type=Application
Comment=Open scientific computation platform
Comment[ru]=Универсальная система компьютерной алгебры
Exec=open-axiom
TryExec=open-axiom
Icon=open-axiom
Categories=Science;Education;Math;
Keywords=Mathematics;Computer algebra system;Research;Teaching;
Keywords[ru]=Математика;Система компьютерной алгебры;Научная работа;Обучение;
Terminal=true
